.App{
  min-height: 100vh ;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.appTitle{
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
	font-size: 100px;
	margin-bottom: 30px;
  color: rgb(255, 108, 9);
  background: -webkit-linear-gradient(rgb(255, 102, 0), rgb(253, 122, 34), rgb(253, 158, 95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  margin-top: 0%;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 13px;

}

.search-button{
  background: rgb(248, 135, 59);
  border: none;
  padding: 10px 20px;
  color: rgb(255, 215, 189);
  font-size: 16px;;
  font-family: 'Mali', cursive;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}